@charset "utf-8";

@import '../node_modules/bulma/sass/utilities/initial-variables';

$yellow: #fcce00;
$red: #eb0000;
$green: #008a00;
$blue: #0073e6;
$primary: $blue;
$link-visited: $blue;
$link-hover: $blue;
$panel-heading-background-color: white;
$text: #242424;
$dark: $text;
$navbar-breakpoint: 0;

@import '../node_modules/bulma/bulma';
@import '../node_modules/bulma-switch/dist/css/bulma-switch.sass';

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

code.multi-line {
    display: block;
    white-space: pre;
    overflow-x: scroll;
}

canvas {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#hoveredHouse {
    position: absolute;
    width: 50px;
    transform: translate(-50%, -50%) rotate(-30deg);
    pointer-events: none;
}

#tutorial-modal {
    .modal-card-body {
        height: 400px;

        #tutorial-image-container {
            width: 100%;
            height: 175px;
            overflow: hidden;
            margin-bottom: 1.5rem;

            #tutorial-image {
                width: 100%;
            }
        }
    }

    .modal-card-foot {
        .level {
            width: 100%;
        }
    }
}

#algorithms-modal {
    .box {
        height: 600px;
        overflow: scroll;
    }
}
