@charset "utf-8";

@import "../node_modules/bulma/sass/utilities/initial-variables";

$yellow: #FCCE00;
$red: #EB0000;
$green: #008a00;
$blue: #0073E6;
$primary: $blue;
$link-visited: $blue;
$link-hover: $blue;
$panel-heading-background-color: white;
$text: #242424;
$dark: $text;
$navbar-breakpoint: 0;


@import "../node_modules/bulma/bulma";
@import "../node_modules/bulma-switch/dist/css/bulma-switch.sass";

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%;
    cursor: pointer;
}